<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from eduport.webestica.com/index-5.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 25 Jul 2022 06:07:28 GMT -->

<head>
  <title>ISSD, Institut Supérieur des Sciences et du Développement</title>

  <!-- Meta Tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="author" content="Webestica.com">
  <meta name="description" content="Eduport- LMS, Education and Course Theme">

  <!-- Favicon -->
  <link rel="shortcut icon" href="/assets/images/logoissd.png">

  <!-- Google Font -->
  <link rel="preconnect" href="https://fonts.googleapis.com/">
  <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700&amp;family=Roboto:wght@400;500;700&amp;display=swap">

  <!-- Plugins CSS -->
  <link rel="stylesheet" type="text/css" href="/assets/vendor/font-awesome/css/all.min.css">
  <link rel="stylesheet" type="text/css" href="/assets/vendor/bootstrap-icons/bootstrap-icons.css">
  <link rel="stylesheet" type="text/css" href="/assets/vendor/tiny-slider/tiny-slider.css">

  <link rel="stylesheet" type="text/css" href="assets/vendor/glightbox/css/glightbox.css">

  <!-- Theme CSS -->
  <link id="style-switch" rel="stylesheet" type="text/css" href="/assets/css/style.css">
  <link id="style-switch" rel="stylesheet" type="text/css" href="/assets/css/aos.css">

</head>

<body>

  <!-- Header START -->
  <header class="navbar-light navbar-sticky header-static">
    <!-- Logo Nav START -->
    <nav class="navbar navbar-expand-xl">
      <div class="container">
        <!-- Logo START -->
        <a class="navbar-brand" href="/">
          <img class="light-mode-item h-40px navbar-brand-item" src="/assets/images/logoissd.png" alt="logo">
          <img class="dark-mode-item h-40px navbar-brand-item" src="/assets/images/logoissd.png" alt="logo">
        </a>
        <!-- Logo END -->

        <!-- Responsive navbar toggler -->
        <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-animation">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </button>

        <!-- Main navbar START -->
        <div class="navbar-collapse w-100 collapse" id="navbarCollapse">

          <!-- Nav Main menu START -->
          <ul class="navbar-nav navbar-nav-scroll mx-auto">
            <!-- Nav item 1 Demos -->
            <li class="nav-item">
              <a class="nav-link" href="#" id="demoMenu">Acceuil</a>
            </li>

            <!-- Nav item 2 Pages -->
            <li class="nav-item">
              <a class="nav-link" href="#actualite">Actualités</a>
            </li>

            <!-- Nav item 2 Pages -->
            <li class="nav-item">
              <a class="nav-link" href="#mention" id="pagesMenu">Mentions</a>
            </li>



            <!-- Nav item 3 Account -->
            <li class="nav-item">
              <a class="nav-link" href="#" id="accounntMenu">Moodle</a>
            </li>

            <!-- Nav item 4 Component-->
            <li class="nav-item"><a class="nav-link" href="#partenaire">Partenaires</a></li>

            <!-- Nav item 5 Component-->
            <li class="nav-item"><a class="nav-link" href="#mot-du-directeur">À propos</a></li>

          </ul>
          <!-- Nav Main menu END -->

          <!-- Nav Search START 
          <div class="nav my-3 my-xl-0 px-4 flex-nowrap align-items-center">
            <div class="nav-item w-100">
              <form class="position-relative">
                <input class="form-control pe-5 bg-transparent" type="search" placeholder="Recherche" aria-label="Search">
                <button class="btn bg-transparent px-2 py-0 position-absolute top-50 end-0 translate-middle-y" type="submit"><i class="fas fa-search fs-6 "></i></button>
              </form>
            </div>
          </div>
          Search END -->
        </div>
        <!-- Main navbar END -->

        <!-- Profile START -->
        <div class="dropdown ms-1 ms-lg-0">
          <div class="modeswitch-wrap" id="darkModeSwitch">
            <div class="modeswitch-item">
              <div class="modeswitch-icon"></div>
            </div>
            <!-- <span>Mode nuit</span> -->
          </div>
          <!-- <a class="avatar avatar-sm p-0" href="#" id="profileDropdown" role="button" data-bs-auto-close="outside" data-bs-display="static" data-bs-toggle="dropdown" aria-expanded="false">
            <img class="avatar-img rounded-circle" src="/assets/images/avatar/01.jpg" alt="avatar">
          </a>
          <ul class="dropdown-menu dropdown-animation dropdown-menu-end shadow pt-3" aria-labelledby="profileDropdown">
            
            <li class="px-3">
              <div class="d-flex align-items-center">
                
                <div class="avatar me-3">
                  <img class="avatar-img rounded-circle shadow" src="/assets/images/avatar/01.jpg" alt="avatar">
                </div>
                <div>
                  <a class="h6" href="#">Issd team</a>
                  <p class="small m-0">exemple@gmail.com</p>
                </div>
              </div>
              <hr>
            </li>
            <li><a class="dropdown-item" href="#"><i class="bi bi-person fa-fw me-2"></i>Profil</a></li>
            <li><a class="dropdown-item" href="#"><i class="bi bi-gear fa-fw me-2"></i>Réglages</a></li>
            <li><a class="dropdown-item bg-danger-soft-hover" href="#"><i class="bi bi-power fa-fw me-2"></i>Se déconnecter</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li>
              <div class="modeswitch-wrap" id="darkModeSwitch">
                <div class="modeswitch-item">
                  <div class="modeswitch-icon"></div>
                </div>
                <span>Mode nuit</span>
              </div>
            </li>
          </ul> -->
        </div>
        <!-- Profile START -->
      </div>
    </nav>
    <!-- Logo Nav END -->
  </header>
  <!-- Header END -->