<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from eduport.webestica.com/error-404.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 25 Jul 2022 06:08:20 GMT -->

<head>
  <title>Eduport - LMS, Education and Course Theme</title>

  <!-- Meta Tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="author" content="Webestica.com">
  <meta name="description" content="Eduport- LMS, Education and Course Theme">

  <!-- Favicon -->
  <link rel="shortcut icon" href="assets/images/favicon.ico">

  <!-- Google Font -->
  <link rel="preconnect" href="https://fonts.googleapis.com/">
  <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700&amp;family=Roboto:wght@400;500;700&amp;display=swap">

  <!-- Plugins CSS -->
  <link rel="stylesheet" type="text/css" href="assets/vendor/font-awesome/css/all.min.css">
  <link rel="stylesheet" type="text/css" href="assets/vendor/bootstrap-icons/bootstrap-icons.css">

  <!-- Theme CSS -->
  <link id="style-switch" rel="stylesheet" type="text/css" href="assets/css/style.css">

</head>

<body>

  <!-- **************** MAIN CONTENT START **************** -->
  <main>
    <section class="pt-5">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <!-- Image -->
            <img src="assets/images/element/error404-01.svg" class="h-200px h-md-400px mb-4" alt="">
            <!-- Title -->
            <h1 class="display-1 text-danger mb-0">Page introuvable</h1>
            <a href="/" class="btn btn-primary mb-0">Emmenez-moi à la page d'accueil</a>
          </div>
        </div>
      </div>
    </section>
  </main>
  <!-- **************** MAIN CONTENT END **************** -->

  <!-- Bootstrap JS -->
  <script src="assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

  <!-- Template Functions -->
  <script src="assets/js/functions.js"></script>

</body>

<!-- Mirrored from eduport.webestica.com/error-404.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 25 Jul 2022 06:08:20 GMT -->

</html>